@font-face {
    font-family: kitsune;
    src:url(../font/bonzai.ttf);
}

body{
	background-image: url("../svg/kitsune.svg");
}

header{
	background-image: url("../svg/header_kitsune.svg");
	background-repeat:no-repeat;
	height:200px;
	position: relative;
}

h1{
	font-size: 8em;
	font-family: kitsune;
	text-align: center;
	width: 100%;
	margin: auto;
	position: absolute;
	top: 0px;
	z-index: 0;
	position: absolute;
	text-transform: uppercase;
}

main{
	margin: 200px 0 200px 0;
}

