body{
	background-image: url("../svg/kitsune.svg");
}

header{
	background-image: url("../svg/header_kitsune.svg");
	background-repeat:no-repeat;
	height:200px;
}

main{
	margin: 200px 0 200px 0;
}

